524-hw4.nja
*.png
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject


__init__.py
blocking_mpi.c
*.swp
Makefile.hello-mpi
a.out
arraycheck.cpp
cc.gif
cc2.gif
contour_demo.py
heateqn.pdf
hello-mpi-mpirun.sh
hello-mpi.c
*.exe
*.o
mpi2.pdf
*.csv

